#!/bin/bash

# Docker based functions

# Python dev container
pydev() {
	# Slim version of python 3.9.1 with a clean python environment
	docker run --rm -it \
		--name pydev \
		--volume $(pwd):"/home/docker" \
		abxsantos/pydev:latest /bin/bash;
}

# Interactive python container
ipython() {
	# Slim version of python 3.9.0  running iphython
	docker run --rm -it \
		--name iphython \
		--volume $(pwd):"/home/docker" \
		abxsantos/ipython:latest;
}

# Black formatter dev container
black() {
	# Alipne version of python 3.9.4 with black
	docker run --rm \
		--name black \
		--volume $(pwd):"/home/docker" \
		abxsantos/black:latest $*;
}

# Isort formatter dev container
isort() {
	# Alipne version of python 3.9.4 with isort
	docker run --rm \
		--name isort \
		--volume $(pwd):"/home/docker" \
		abxsantos/isort:latest $*;
}

# autoflake type checker dev container
autoflake() {
	# Alipne version of python 3.9.4 with autoflake
	docker run --rm \
		--name autoflake \
		--volume $(pwd):"/home/docker" \
		abxsantos/autoflake:latest $*;
}

# mypy type checker dev container
mypy() {
	# Alipne version of python 3.9.4 with mypy
	docker run --rm \
		--name mypy \
		--volume $(pwd):"/home/docker" \
		abxsantos/mypy:latest $*;
}

# flake8 type checker dev container
flake8() {
	# Alipne version of python 3.9.4 with flake8
	docker run --rm \
		--name flake8 \
		--volume $(pwd):"/home/docker" \
		abxsantos/flake8:latest $*;
}

# pydocstyle type checker dev container
pydocstyle() {
	# Alipne version of python 3.9.4 with flake8
	docker run --rm \
		--name pydocstyle \
		--volume $(pwd):"/home/docker" \
		abxsantos/pydocstyle:latest $*;
}

# Generate license files easily
license() {
	# https://github.com/lord63/choosealicense-cli
	# $ license -h
	# $ license generate mit >> LICENSE

	docker run --rm \
		-v "$(pwd):/workspace" \
		-v "${HOME}":/root \
		--disable-content-trust=true \
		 abxsantos/choosealicensecli:latest \
		 license $*;
}

# A code searching tool similar to ack, with a focus on speed.
ag() {
		# https://github.com/ggreer/the_silver_searcher
		# $ ag test_blah ~/code/
		docker run --rm \
			--disable-content-trust=true \
			-v $(pwd):/tmp \
       abxsantos/ag:latest $*;
}

# Lightbase terminal editor
nvim(){
	# $ vim file.txt
	docker run --rm -it \
	--volume $(pwd):/home/docker \
	abxsantos/nvim nvim $*;
}

#Node dev container
node() {
	# Slim version of node 15.5.1 with a clean Node environment
	docker run --rm -it \
		--name nodejs \
		--volume $(pwd):"/home/docker" \
		abxsantos/nodejs:latest /bin/bash;
}
