#!/bin/bash

# Docker based functions

#Python dev container
pydev() {
	# Slim version of python 3.9.1 with a clean python environment
	docker run --rm -it \
		--name pydev \
		--volume $(pwd):"/home/docker" \
		abxsantos/pydev:latest /bin/bash;
}

#Interactive python container
ipython() {
	# Slim version of python 3.9.0  running iphython
	docker run --rm -it \
		--name iphython \
		--volume $(pwd):"/home/docker" \
		abxsantos/ipython:latest;
}

# Generate license files easily
license() {
	# https://github.com/lord63/choosealicense-cli
	# $ license -h
	# $ license generate mit >> LICENSE

	docker run --rm \
		-v "$(pwd):/workspace" \
		-v "${HOME}":/root \
		--disable-content-trust=true \
		 abxsantos/choosealicensecli:latest \
		 license $1 $2;
}

# A code searching tool similar to ack, with a focus on speed.
ag() {
		# https://github.com/ggreer/the_silver_searcher
		# $ ag test_blah ~/code/
		docker run --rm \
			--disable-content-trust=true \
			-v $(pwd):/tmp \
       abxsantos/ag:latest $1 $2;
}

# Lightbase terminal editor
nvim(){
	# $ vim file.txt
	docker run --rm -it \
	--volumev $(pwd):/home/docker \
	abxsantos/nvim nvim $1
}
